<html>
  <head>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body> 
  <h2>PCB Fault Detection</h2>
  <p class="lead">Detecting PCB Faults using <b>Machine learning</b></p>
  
  <!-- Upload  -->
  <!-- <form id="file-upload-form" class="uploader"> -->
    <div class="uploader">
    <label for="file-upload" id="file-drag">
      <div id="start">
        <input id="file-upload" type="file" name="fileUpload" accept="image/*"/>

        <i *ngIf="!imageSelected" class="fa fa-solid fa-image" aria-hidden="true"></i>
        <img *ngIf="imageSelected" [src]="imageUrl" alt="Selected Image" class="preview-image" style="max-width:450px;">
        <div *ngIf="!imageSelected" >Select a file or drag here</div>
        <div id="notimage" class="hidden">Please select an image</div>
        <div>
          <span class="fa" *ngIf="!imageSelected" class="btn-disabled">Select a file</span>
          <div *ngIf="resultsFetched" >{{predictionText}}</div>
          <div *ngIf="showLoading" >Loading ....</div>
          <!-- <div *ngIf="resultsFetched" >{{resultString}}</div> -->
          
        </div>

      </div>
      <div id="response" class="hidden">
        <div id="messages"></div>
        <progress class="progress" id="file-progress" value="0">
          <span>0</span>%
        </progress>
      </div>
    </label>
    <span class="fa" *ngIf="imageSelected" (click)="sendFileToServer()" class="btn btn-primary">Upload and Analyse</span>

  </div>
  <br>
</body>
</html>